@import '../../../assets/variables.scss';

.contact {
    display: flex;
    justify-content: space-between;
    margin: 15px;

    .left{
        display: flex;
        flex-direction: column;
        flex: 1;
        color: $black;

        .location {
            display: flex;
            align-items: baseline;

            .address {
                display: table;
                margin-left: 10px;
                font-size: 16px;
            }
        }

        .map {
            margin: 10px;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;

            .form-control{
                display: flex;
                flex-direction: column;
                margin: 10px;
                width: 90%;

                label {
                    font-size: 14px;
                    font-weight: 700;
                    color: $black;
                }

                input,
                textarea {
                    border-radius: 0 !important;
                    border: 1px solid;
                    font-size: 16px;
                    padding: 5px;
                    margin: 5px 0px;
                    font-family: Arial;
                }
            }
        }
    }
}