
.p-editor-container .p-editor-toolbar.ql-snow{
    border: none !important;
    border-bottom: 1px solid #c8c8c8 !important;
}

.ql-toolbar.ql-snow{
    border: none !important;
    padding: 0 !important;
}