@import '../../../assets/variables.scss';

.focus-area {
    display: flex;
    flex-wrap: wrap;

    .card {
        // flex: 1 0 20%;
        // width: 21%;
        margin: 15px;

        .container {
            height: auto !important;
        }

        .heading {
            font-size: 18px;
            font-weight: 700;
            text-decoration: underline;
            color: $black;
            display: flex;
            justify-content: space-between;

            .icons {
                margin: 0px 10px;
                
                i {
                    border: 1px solid;
                    padding: 5px;
                    font-size: 14px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
        
        .focus-area--content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p-chips{
                margin: 5px;

                ul.p-inputtext.p-chips-multiple-container {
                    background: transparent;
                    border: none;
                    display: flex;
                    flex-direction: column;

                    li.p-chips-token.ng-star-inserted {
                        background: $off-black !important;
                        margin: 5px !important;

                        span{
                            font-size: 14px;
                        }
                    }
                }
                
                .p-chip .p-chip-text{
                    font-size: 10px;
                    margin: 0px;
                }
            }
        }
    }
}