<h3 style="color: #53565a; margin: 15px;">Research Areas</h3>

<div class="focus-area">
    <div class="card" *ngFor="let item of focusArea">
        <app-container>
            <div class="heading">
                {{ item.label }}
                <div class="icons" (click)="onEditButtonClick(item.label)">
                    <i class="pi pi-pencil" *ngIf="!isEdit[item.label]"></i>
                    <i class="pi pi-save" *ngIf="isEdit[item.label]"></i>
                </div>
            </div>
            <div class="content">
                <p-chips [(ngModel)]="item.value" [addOnTab]="true" [addOnBlur]="true" [disabled]="!isEdit[item.label]">
                </p-chips>
            </div>
        </app-container>
    </div>
</div>