<div class="main">
  <div class="navbar">
    <div class="nav-item-grp">
      <div class="nav-heading">
        SERC
      </div>
      <div class="nav-item" [ngClass]="{'active': selectedId==item.id}" *ngFor="let item of navMenuArray" (click)="navigateTo(item.id)">
        {{ item.name }}
      </div>
    </div>
    <!-- <div class="twitter">
      <a class="twitter-timeline" data-width="220" data-height="300" data-theme="dark" href="https://twitter.com/SERC_IIITH?ref_src=twsrc%5Etfw">Tweets by SERC_IIITH</a>
    </div> -->
  </div>
  
  <div class="content">
    <div class="bar">
      <div class="data">
        <img src="https://serc.iiit.ac.in/static/images/iiit.png" alt="IIITH">
        <div class="title">Software Engineering Research Centre</div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>  
</div>
<div class="main-footer">
  <div class="left">
    &copy; {{ currentYear }} Software Engineering Research Center (SERC) - IIIT Hyderabad
  </div>
  <div class="right">
    <a href="https://www.facebook.com/SERC.IIITH/" target="_blank"><i class="pi pi-facebook"></i></a>
    <a href="https://twitter.com/SERC_IIITH" target="_blank"><i class="pi pi-twitter"></i></a>
    <a href="https://in.linkedin.com/company/serciiith" target="_blank"><span class="linked-in">in</span></a>
  </div>
</div>
<p-toast></p-toast>
<app-loader></app-loader>