<app-container>
    <div class="card-container">
        <div class="card">
            <div class="heading">
                <img [src]="object.img" alt="">
            </div>
            <div class="body">
                <div class="title">{{ object.name }}</div>
                <div class="desg">{{ object.designation? object.designation : '' }}</div>
            </div>
            <div class="footer" *ngIf="object?.researchInterest">
                <div class="interest">
                    <!-- <p-chip [label]="i" *ngFor="let i of object.researchInterest"></p-chip> -->
                    <p-chips [(ngModel)]="object.researchInterest" [addOnTab]="true" [addOnBlur]="true" [disabled]="!isEdit">
                    </p-chips>
                </div>
                <div class="icon-container" (click)="onEditButtonClick()">
                    <i class="pi pi-pencil" *ngIf="!isEdit"></i>
                    <i class="pi pi-save" *ngIf="isEdit"></i>
                </div>
            </div>
        </div>
    </div>
</app-container>