/* You can add global styles to this file, and also import other style files */

@import 'assets/variables.scss';
@import 'assets/styles/p-editor.scss';

.btn-primary{
    background-color: $primary;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
    color: $off-white;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: #2aa2b9;
}

body{
    margin: 0;
    font-family: Arial;
}

*:focus{
    box-shadow: none !important;
}