/* You can add global styles to this file, and also import other style files */

@import 'assets/variables.scss';
@import 'assets/styles/p-editor.scss';

.btn-primary{
    background-color: $primary;
}

body{
    margin: 0;
    font-family: Arial;
}

*:focus{
    box-shadow: none !important;
}