// All the variables are maintained here.

$primary: #34808f;

$white: #fefefe;
$off-white: #f6f6f6;
$off-white-blur: #f6f6f680;

$glass: #afc1ce;
$deep-gray: #293241;
$black: #53565a;
$off-black :#535b67;